[Unit]
Description=JARS Chat Service
After=network.target

[Service]
Type=simple
User=[USER]
WorkingDirectory=[path-to-index.js]
ExecStart=/usr/bin/node [path-to]/index.js
Restart=always

[Install]
WantedBy=multi-user.target
